* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
	background-color: rgba(3, 201, 169, 0.3);
}
#board {
	width: 650px;
	height: 650px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	background-color: white;
	
}
#board div {
	width: 65px;
	height: 65px;
	border: 1px solid transparent;
	display: inline-block;
	float: left;
	margin: 0px;
	
}
.furry {
	background-image: url(../images/furry.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.coin {
	background-image: url(../images/coin.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#score {
	font-size: 3em;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	color: white;
	text-shadow: 6px 6px black;
	font-family: 'Press Start 2P', Verdana, sans-serif;
}
.hidden {
	display: none;
}
.gameOver {
	margin-top: 10%;
	text-align: center;
	font-size: 8em;
	color: white;
	text-shadow: 12px 10px black;
	font-family: 'Press Start 2P', Verdana, sans-serif;
}
.title {
	margin-top: 7%;
	text-align: center;
	font-size: 8em;
	font-weight: 900;
	color: white;
	text-shadow: 12px 10px black;
	font-family: 'Press Start 2P', Verdana, sans-serif;
}
#avatarContainer {
	background-image: url(../images/furry.png);
	width: 300px;
	height: 300px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin-left: 10%;
	top: 80%;
	margin-right: 3%;
}
#avatarContainer:hover {
	transition: all 0.1s linear 0s;
	-webkit-filter: grayscale(30%);
    filter: grayscale(30%);
}
#avatarContainer:active {
	transition: all 0.1s linear 0s;
	width: 302px;
	height: 302px;
}
.paragraphsContainer {
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.startGameInfo {
	margin-top: 80px;
	font-size: 1.2em;
	color: white;
	text-shadow: 3px 2px black;
	font-family: 'Press Start 2P', Verdana, sans-serif;
}
.startGameInfo span {
	font-weight: 900;
}
.naviInfo {
	color: white;
	text-shadow: 3px 2px black;
	font-family: 'Press Start 2P', Verdana, sans-serif;
	margin-bottom: 70px;
	font-size: 1.2em;
}
.naviInfo span {
/*
	color: white;
	text-shadow: 4px 3px #666;
*/
	font-size: 1.9em;
	font-weight: 900;
	font-family: 'Press Start 2P', Verdana, sans-serif;
}
.info {
	font-size: 0.6em;
	color: white;
	text-shadow: 2px 1px black;
	font-family: 'Press Start 2P', Verdana, sans-serif;
	position: relative;
	margin-top: 90px;
	margin-right: 1%;
	float: right;
}